<nav class="navbar navbar-dark bg-dark">
  <div class="container d-flex">
    <%= link_to "WatchLists", lists_path, class: "navbar-brand" %>
    <%= link_to "New List", new_list_path, class: "align-self-end btn btn-outline-light" %>
  </div>
</nav>
